/*
===========================
=== GENERAL SITE STYLES ===
===========================
*/
body {
	margin:				0;
	padding:			0;
	font:				75%/150% Helvetica, Arial, sans-serif;
	color:				#666;
	text-align:			center;
	background:			#fff;
}
h1, h2, h3, h4, h5, h6 {
	clear:				both;
	margin:				0 0 0.5em 0;
	color:				#666;
	font:				bold 1.1em;
}
h1 {
	font-size:			1.8em;
	line-height:		130%;
}
h2 {     
	display:			block;
	margin:				1em 0 0.5em;
	font-size:			1.6em;
}
h3 {
	display:			block;
	margin:				0 0 10px 0;
	padding:			10px 0 8px;
	border-bottom:		1px solid #ddd;
}
p {
	margin:				0 0 1em 0;
}
a {     
	color:				#60a5dc;
	text-decoration:	underline;
}
.left {
	float:				left!important;
}
.right {
	float:				right!important;
}
.hide {
	display:			none!important;
}
.show {
	display:			block!important;
}
.noborder{
	border:				0!important;
}

/* *** Hacks *** */
div:after, ul:after, ol:after, dl:after{
	content:			".";
	display:			block;
	clear:				both;
	height:				0;
	visibility:			hidden;
}
div, ul, ol, dl{
	zoom:				1;
}
input, textarea {
	outline:			none;
}

/*
==============
=== LAYOUT ===
==============
*/

#container {
	position:			relative;
	width:				750px;
	margin:				40px auto;
	text-align:			left;
}

#container h1 {
	display:			block;
	height:				80px;
	margin:				0;
	font-size:			3em;
	font-weight:		normal;
	text-align:			center;
	line-height:		45px;
}
#container h1 a {
	color:				#666;
	text-decoration:	none;
}

#container ul#menu {
	position:			absolute;
	bottom:				43px;
	left:				-200px;
	width:				180px;
	margin:				0;
	padding:			0;
}
#container ul#menu li {
	margin:				0;
	padding:			2px 0;
	list-style-type:	none;
}
#container ul#menu li a {
	display:			block;
	padding:			1px 6px;
	text-decoration:	none;
	color:				#666;
	border-radius:		3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#container ul#menu li a:hover {
	background:			#f5f5f5;
}
#container ul#menu li ul {
	display:			none;
	margin:				0 0 0 10px;
	padding:			0;
}

#container #content {
	position:			relative;
	margin:				0;
	width:				750px;
	text-align:			justify;
}
#container #content p:last-child { margin: 0 }

#container #footer {
	height:				45px;
	line-height:		45px;
	text-align:			right;
}

/* --- Contact page --- */
#container #content .contact-form {
	width:				480px;
	padding:			15px 0 0;
}
#container #content .other-contact {
	width:				240px;
	margin:				0 0 0 30px;
	padding:			15px 0 0;
}
#container #content form fieldset {
	margin:				0;
	padding:			10px 0 0;
	border:				0;
}
#container #content form fieldset legend {
	display:			none;
}
#container #content form fieldset label {
	display:			block;
	float:				left;
	width:				100px;
	margin:				0 0 10px;
	padding:			5px 0;
	clear:				left;
}
#container #content form fieldset input.text {
	float:				left;
	width:				200px;
	margin:				0 0 10px;
	padding:			5px 6px;
	border:				1px solid #ddd;
}
#container #content form fieldset textarea {
	float:				left;
	width:				300px;
	height:				80px;
	padding:			5px;
	border:				1px solid #ddd;
	font-family:		Helvetica, Arial, sans-serif;
	color:				#333;
}
#container #content form fieldset input.submit {
	display:			block;
	float:				left;
	clear:				both;
	margin:				15px 0 0 0;
	padding:			5px 15px;
	background:			#f7f7f7;
	border:				1px solid #e7e7e7;
	border-radius:		3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#container #content form fieldset input.submit:hover {
	border:				1px solid #60a5dc;
}

#slideshow {
	position:			relative;
	width:				750px;
	height:				460px;
}
#slideshow .slide {
	display:			none;
}
#slideshow #ActiveSlide {
	position:			absolute;
	top:				0;
	left:				0;
	z-index:			10;
}
#slideshow #ActiveSlide div {
	width:				200px;
	height:				200px;
}
#slideshow #left {
	position:			absolute;
	display:			none;
	top:				0;
	left:				0;
	width:				100px;
	height:				460px;
	background:			url(/images/left-arr.png) top left no-repeat;
	z-index:			100;
	cursor:				pointer;
}
#slideshow #right {
	position:			absolute;
	top:				0;
	right:				0;
	display:			none;
	width:				100px;
	height:				460px;
	background:			url(/images/right-arr.png) top left no-repeat;
	z-index:			100;
	cursor:				pointer;
}

#profile {
	float:				right;
	margin:				0 8px 0 15px;
}
#profile img {
	margin:				0 auto 5px;
	border:				1px solid #ddd;
	padding:			8px!important;
}
#profile img:last-child {
	display:			block;
	width:				128px;
	margin:				0 auto;
}

/* hide da email box frm dem spam bots yo */
#email {
	position:			absolute;
	left:				-9999px;
	visibility:			hidden;
}

